# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [10]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [30]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
url = 'test.csv'

chipo = pd.read_csv(url, sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. See the first 10 entries

In [12]:
print(chipo.head(1))

   order_id  quantity                     item_name choice_description  \
0         1         1  Chips and Fresh Tomato Salsa                NaN

  item_price
0     $2.39

### Step 5. What is the number of observations in the dataset?

In [13]:
# Solution 1
chipo.shape[0]

4622

In [14]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [15]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [16]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [19]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [28]:
c = chipo.groupby('item_name')
c = c.sum().sort_values('quantity', ascending=False)
print(c.head(1))

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [29]:
c = chipo.groupby('item_name')
c = c.sum().sort_values('quantity', ascending=False)
print(c.head(1))

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [32]:
b = chipo.groupby('choice_description')
b.sum().sort_values('quantity', ascending=False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [35]:
# chipo.sum().quantity
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [43]:
# chipo['item_price'].astype('float')
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [51]:
transify = lambda x : float(x[1:-1])
chipo.item_price = chipo.item_price.apply(transify)

#### Step 13.c. Check the item price type

In [52]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [54]:
(chipo.item_price * chipo.quantity).sum()

39237.02

### Step 15. How many orders were made in the period?

In [90]:
chipo.order_id.value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [106]:
# Solution 1
# chipo.order_id.value_counts()
chipo['revenue'] = (chipo.item_price * chipo.quantity)
order_sum = chipo.groupby('order_id').sum()
order_sum.mean()

# chipo.revenue.sum() / po.order_id.value_counts().count()

quantity       2.711014
item_price    18.811429
revenue       21.394231
dtype: float64

In [4]:
# Solution 2

### Step 17. How many different items are sold?

In [107]:
chipo.item_name.value_counts()

TypeError: 'method' object is not subscriptable